<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ENTITY.Properties.Settings.QUANLIKARAOKEConnectionString"
            connectionString="Data Source=LAPTOP-LLHPT87U\SQLEXPRESS;Initial Catalog=QUANLIKARAOKE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>